.filters-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.filters-grid input,
.filters-grid select {
  padding: 8px;
}

.search-btn {
  padding: 8px;
  width: 100%;
  background-color: blueviolet;
}

.error {
  color: red;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  width: 33%;
  padding: 8px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .filters-grid {
    grid-template-columns: 1fr;
  }

  .products-table {
    font-size: 14px;
  }

  .products-table th,
  .products-table td {
    padding: 5px;
  }
}
